- content_for :head do
  %title What Was I Thinking?

#main
  #overground
    #sky
      #form
      #gloom
        #spread
      #sky_country_trans
    #country
      #brain

      #html5
      #truck
      .cow
      .cow.two
      #profile

  #underground
    #country_underground_trans
    #report
