!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = javascript_include_tag 'http://api.assets.io/b6/?dhiwjwhe0mjd4'
    = javascripts :site
    :javascript
      assets.on('www.w14g.com');
      assets.base('http://www.w14g.com');
      assets.css([
        '/stylesheets/w14g.css',
        '/stylesheets/animation.css'
      ], {version:201106162});
      assets.js([
        'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js',
        'https://www.google.com/jsapi',
        '/javascripts/clouds.js',
        '/javascripts/jquery.tagcloud.js',
        '/javascripts/json2.js',
        '/javascripts/backbone.js',
        '/javascripts/app/app.js',
        '/javascripts/app/model/cloud.js',
        '/javascripts/app/model/report.js',
        '/javascripts/app/model/tweet.js',
        '/javascripts/app/model/user.js',
        '/javascripts/app/collection/tweets.js',
        '/javascripts/app/view/index.js',
        '/javascripts/app/view/show.js',
        '/javascripts/app/view/tweet.js',
        '/javascripts/app/view/tweets.js',
        '/javascripts/app/view/tweets_filter.js',
        '/javascripts/app/view/tweets_graph.js',
        '/javascripts/app/view/user.js',
        '/javascripts/app/view/word_cloud.js',
        '/javascripts/app/controller/report.js',
        '/javascripts/init.js'
      ], {version:201107012});

    = yield_content :head

  %body{ :class => page_classes }
    #container
      = yield

    :javascript
      var _gaq=[['_setAccount','UA-24068694-1'],['_trackPageview'],['_trackPageLoadTime']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
